{% extends "base.html" %}

{% block content %}
    <h1>Adicionar Novo Evento</h1>
    <form method="POST">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.titulo.label(class="form-control-label") }}
            {{ form.titulo(class="form-control") }}
            {% for error in form.titulo.errors %}
                <span class="text-danger">{{ error }}</span>
            {% endfor %}
        </div>
        <div class="form-group">
            {{ form.descricao.label(class="form-control-label") }}
            {{ form.descricao(class="form-control") }}
            {% for error in form.descricao.errors %}
                <span class="text-danger">{{ error }}</span>
            {% endfor %}
        </div>
        <div class="form-group">
            {{ form.data_evento.label(class="form-control-label") }}
            {{ form.data_evento(class="form-control") }}
            {% for error in form.data_evento.errors %}
                <span class="text-danger">{{ error }}</span>
            {% endfor %}
        </div>
        <div class="form-group">
            {{ form.email.label(class="form-control-label") }}
            {{ form.email(class="form-control") }}
            {% for error in form.email.errors %}
                <span class="text-danger">{{ error }}</span>
            {% endfor %}
        </div>
        <button type="submit" class="btn btn-primary">{{ form.submit.label.text }}</button>
    </form>
{% endblock %}
